<form class="form update-form" method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-group text-center">
            <div class="input-group d-quantity">
                <div class="input-group-prepend">
                    <button class="decrement-qty btn btn-white rounded-0" 
                        data-item_id="{{  item.item_id  }}" id="decrement-qty_{{  item.item_id  }}">
                        <span class="icon">
                            <i class="fas fa-minus"></i>
                        </span>
                    </button>
                </div>
                <input class="form-control text-center qty_input" type="number"
                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                    data-item_id="{{ item.item_id }}"
                    id="id_qty_{{ item.item_id }}">
                <div class="input-group-append">
                    <button class="increment-qty btn btn-white rounded-0"
                        data-item_id="{{  item.item_id  }}" id="increment-qty_{{  item.item_id  }}">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row d-flex text-center">
    <a class="update-link col">Update</a>
    <a class="remove-item col text-danger float-right" id="remove_{{ item.item_id }}">Remove</a>
</div>
