{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="row header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<article class="container-fluid m-custom row">
    <form id="contact-form">
        <h4 class="font-bungee text-center">Contact Us</h4>
        <div class="mb-3">
            <label for="name" class="form-label"><i class="far fa-user"></i> Name</label>
            <input class="form-control" id="name" name="user_name" placeholder="Enter name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label"><i class="far fa-envelope"></i> Email address</label>
            <input class="form-control" type="email" id="email" name="user_email" placeholder="Enter email" required />
        </div>
        <div class="mb-3">
            <label for="textarea" class="form-label"><i class="far fa-question-circle"></i> Request</label>
            <textarea class="form-control" id="textarea" name="info_request" rows="5" placeholder="Insert your request here" required></textarea>
        </div>
        <div class="text-center mb-3">
           <button type="submit" id="button" name="submit" class="btn target font-bungee">Send Mail</button>
        </div>
  </form>
</article>
{% endblock %}

{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/sendEmail.js' %}" type="application/javascript" async></script>
{% endblock %}