/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato&family=Lobster&display=swap');

/* font to use:
    font-family: 'Cookie', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#f8bbd0), color-stop(#ffbdc4), color-stop(#ffc1b9), color-stop(#ffc7ae), to(#ffcea6));
    background-image: -o-linear-gradient(left top, #f8bbd0, #ffbdc4, #ffc1b9, #ffc7ae, #ffcea6);
    background-image: linear-gradient(to right bottom, #f8bbd0, #ffbdc4, #ffc1b9, #ffc7ae, #ffcea6);
    font-family: 'Lato', sans-serif;
}

/* Navbar */

#topNav {
    z-index: 100;
}

.nav-item {
    font-family: 'Lobster', cursive;
    font-size:large;
}

#search-input {
  max-width: 6.5rem;
}

#logo {
    width: 6.25rem;
    position: absolute;
    top: .6rem;
    left: -.1rem;
}

#delivery-banner {
    padding: 0;
    margin: 0;
    background: black;
}

#delivery-banner h4 {
    font-size: .8rem;
}

/* from Bulma */
.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  height: 1.5rem;
  width: 1rem;
}

.text-black {
    color: #000 !important;
}

.hide-on-scroll{
    -webkit-transform: translateY(-3.5rem);
        -ms-transform: translateY(-3.5rem);
            transform: translateY(-3.5rem);
}

/* right list replaced by main-nav when exdend menu in mobile */
.mobile-d-none {
    display: none;
}

.collapse-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* style navbar in mobile with right list at the center */
.list-inline-item .text-black {
    font-size:small;
}

.navbar-toggler {
    font-size: 1rem;
}

.font-cookie {
    font-family: 'Cookie', cursive;

}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.m-custom {
    margin: 7rem 0 1rem;
    padding: 0;
}

/* Carousel */
.over-image {
    position: absolute;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
}

#carousel-section, 
#carousel-section-mobile {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* shop now button */
.shop-btn-div {
    margin-top: 5rem;
}

.shop-now-button {
    background: white;
    color: black;
    font-family: 'Lobster', cursive;
}

.shop-now-button:hover {
    background: black;
    color: white;
}

.main-text {
    display: none;
}

/* products */
.overlay {
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 1rem;
}

.card {
    background-color: rgba(242, 243, 244, 0.4);
    width: 18rem;
    margin-right: .8rem;
    margin-bottom: 1rem;
}

.card-img-top {
    width: 10rem;
    height: 10rem;
}

.btt-button {
    height: 3rem;
    width: 3rem;
    position: fixed;
    background-color: white;
    bottom: 1rem;
    right: 1rem;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    width: 16.8rem !important;
}

.toast-capper {
    height: .13rem;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: .25rem solid transparent;
    border-right: .25rem solid transparent; 
    border-bottom: .625rem solid black;
    position: absolute;
    top: -.625rem;
    right: 2.25rem;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 6.25rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* add to cart form */
.add-cart-button {
    background: black;
    color: white;
    border: 1px solid black;
}

.btn-outline-black {
    background: white;
    border: 1px solid black;
} 

.d-quantity {
    padding: 0 4rem;
}

.btn-white {
    background: white;
    border: 1px solid black;
}

/* footer */ 
.footer {
    padding-top: 2rem;
}

.social {
    font-size: large;
    color: black;
    margin: 0 1rem;
}

small {
    font-size: x-small;
}

/* add and delete buttons style */
.btn-info, .btn-danger {
    width: 4.6rem;
    color: white;
}

.btn-danger:hover {
    color: black;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
    color: white;
    background: gray;
    border: 1px solid white;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* text-area events post */
#comment-form textarea,
#post-form textarea {
    height: 5rem;
}

@media (min-width: 48rem) {
    .main-text {
        display: block;
        font-size: 1.5rem;
        margin-top: 2rem;
        
    }

    .shop-btn-div {
        margin-top: 0;
    }

    .main-text-mobile {
        display: none;
    }
}

@media (min-width: 62rem) {
    /* from https://community.adobe.com/t5/dreamweaver/bootstrap-4-2-1-navbar-with-centered-brand-logo/td-p/4789048 */
    .navbar-brand {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    #logo {
        width: 9rem;
        position: relative;
        top: 0;
    }

    /* main-nav replaced by right-list in desktop mode */
    .mobile-d-none {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .collapse-header {
        display: none;
    }

    /* Carousel */
    .m-custom {
        margin-top: 10rem;
    }

    .main-text {
        font-size: 2rem;      
    }

    /* product detail form */
    .mtop-3rem {
        margin-top: 3rem;
    }
}
