/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato&family=Lobster&display=swap');

/* font to use:
    font-family: 'Cookie', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right bottom, #f8bbd0, #ffbdc4, #ffc1b9, #ffc7ae, #ffcea6);
    font-family: 'Lato', sans-serif;
}

/* Navbar */

#topNav {
    z-index: 100;
}

.nav-item {
    font-family: 'Lobster', cursive;
    font-size:large;
}

#search-input {
  max-width: 6.5rem;
}

#logo {
    width: 6.25rem;
    position: absolute;
    top: .6rem;
    left: -.1rem;
}

#delivery-banner {
    padding: 0;
    margin: 0;
    background: black;
}

#delivery-banner h4 {
    font-size: .8rem;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: black;
  height: 1.5rem;
  width: 1rem;
}

.text-black {
    color: #000 !important;
}

.hide-on-scroll{
    transform: translateY(-50px);
}

/* right list replaced by main-nav when exdend menu in mobile */
.mobile-d-none {
    display: none;
}

.collapse-header {
    display: flex;
}

/* style navbar in mobile with right list at the center */
.list-inline-item .text-black {
    font-size:small;
}

.navbar-toggler {
    font-size: 1rem;
}

.dropdown-menu {
    background-image: linear-gradient(to right bottom, #f8bbd0, #ffbdc4, #ffc1b9, #ffc7ae, #ffcea6);
}

.font-cookie {
    font-family: 'Cookie', cursive;

}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.m-custom {
    margin: 7rem 0 1rem;
    padding: 0;
}

/* Carousel */
.over-image {
    position: absolute;
    left: 0;
    justify-content: center;
    z-index: 1;
}

#carousel-section {
    padding: 0;
    justify-content: center;
}

/* shop now button */
.shop-btn-div {
    margin-top: 5rem;
}

.shop-now-button {
    background: white;
    color: black;
    font-family: 'Lobster', cursive;
}

.shop-now-button:hover {
    background: black;
    color: white;
}

#main-text {
    display: none;
}

/* products */
.overlay {
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 1rem;
}

.card {
    background-color: rgba(242, 243, 244, 0.6);
    width: 20rem;
    margin: 1rem;
}

.card-img-top {
    width: 10rem;
    height: 10rem;
}

.btt-button {
    height: 3rem;
    width: 3rem;
    position: fixed;
    background-color: white;
    bottom: 1rem;
    right: 1rem;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* add to cart form */
.add-cart-button {
    background: black;
    color: white;
    border: 1px solid black;
}

.btn-outline-black {
    background: white;
    border: 1px solid black;
} 

.d-quantity {
    padding: 0 4rem;
}

.btn-white {
    background: white;
    border: 1px solid black;
}

/* footer */ 
.footer {
    padding-top: 2rem;
}

.social {
    font-size: large;
    color: black;
    margin: 0 1rem;
}

small {
    font-size: x-small;
}

@media (min-width: 48rem) {
    #main-text {
        display: block;
        font-size: 1.5rem;
        margin-top: 2rem;
        
    }

    .shop-btn-div {
        margin-top: 0;
    }

    #main-text-mobile {
        display: none;
    }
}

@media (min-width: 62rem) {
    /* from https://community.adobe.com/t5/dreamweaver/bootstrap-4-2-1-navbar-with-centered-brand-logo/td-p/4789048 */
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #logo {
        width: 9rem;
        position: relative;
        top: 0;
    }

    /* main-nav replaced by right-list in desktop mode */
    .mobile-d-none {
        display: flex;
    }

    .collapse-header {
        display: none;
    }

    /* Carousel */
    .m-custom {
        margin-top: 10rem;
    }

    #main-text {
        font-size: 2rem;      
    }

}

