{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="social-icon mb-2">
                <a href="#" class="social"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="social"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social"><i class="fab fa-twitter-square"></i></a>
                <a href="#" class="social"><i class="fab fa-telegram"></i></a>
            </div>
            <hr class="w-100 mb-0">
            <div class="row m-0">
                <small class="text-center">Copyright &copy; BrideNoZilla 2021</small>
            </div>
        </div>
    </div>
</footer>