{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <ul class="social-icon">
                <a href="#" class="social"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="social"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social"><i class="fab fa-twitter-square"></i></a>
                <a href="#" class="social"><i class="fab fa-telegram"></i></a>
            </ul>
            <hr class="w-100">
            <div class="row m-0">
                <small class="text-center">Copyright &copy; BrideNoZilla 2021</small>
            </div>
        </div>
    </div>
</footer>