{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container page-container h-100">
    <div class="row">
        <div class="col page-heading text-center">
            <h1>OH NO! THAT PAGE CAN'T BE FOUND (404 Error)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="fs-4 text-center mb-4">We are experiencing some trouble on our end.</p>
            <a href="{% url 'home' %}" class="item-link-light item-link-button  flex-center m-auto">Return Home</a>
        </div>
    </div>
</div>
{% endblock %}