{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100 m-custom">
    <div class="row">
        <div class="col text-center">
            <h1>Opps something has gone wrong (500 Error)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="fs-4 mb-4">We are experiencing some trouble on our end. Please try again in the near
                future.</p>
            <a href="{% url 'home' %}" class="btn btn-outline-black text-uppercase">Return Home</a>
        </div>
    </div>
</div>
{% endblock %}