{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<article class="container-fluid m-custom row overlay">
    <section class="row">
        <div class="col text-center">
            <h2 class="font-lobster">Products</h2>
            <hr class="w-100 mb-1">
        </div>
    </section>
    <section class="row text-center justify-content-center">
        {% for product in products %}
            <!-- check if the products are not in the "cake" category -->
            {% if product.id < 14 %}
                <div class="card">
                    {% if product.product_image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.product_image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{% static 'media/noimage.png' %}" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-uppercase fw-bold">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="text-black fs-3 fw-bold">&euro; {{ product.price }}</p>
                        {% if product.rating %}
                            <p class="text-muted">
                                <i class="fas fa-star mr-1"></i>
                                {{ product.rating }} / 5
                            </p>
                        {% else %}
                            <p class="text-muted">No Rating</p>     
                        {% endif %}            
                    </div>
                </div>
            {% endif %}
            
        {% endfor %}
    </section>
    {% include 'includes/footer.html' %}
</article>
{% endblock %}